* {
  box-sizing: border-box;
  max-width: 100%;
}

h1 {
  font-size: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* impede que a tela deslize lateralmente */
}

.tempo {
  font-family: "Segoe UI", sans-serif;
  /* background-color: #fff0f5; */
  background: linear-gradient(-45deg, #fff0f5a4, #fff0f5, #f30a0a44, #00000042);
  /* background: url(imagem/nossa-foto-igreja.jpg); */
  /* background: url(imagem/imagem\ coração.svg) no-repeat center center fixed; */
  animation: gradient 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: #000;
  text-align: center;
  backdrop-filter: blur(20px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.timer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
}

.unit span.label {
  font-size: 0.5em;
  margin-top: 5px;
  color: #333;
}
img {
  width: 150px;
  border-radius: 20%;
  border: 5px solid #e8050593;
}

figure {
  color: rgb(248, 0, 0);
}

.imagens {
  text-align: center;
  justify-content: center;
  background: linear-gradient(-45deg, #f30a0a91, #00000042, #fff0f5, #fff0f5);
  margin-top: 2px;
  align-items: center;
  padding: 16px;
  line-height: 35px;
  font-family: "Segoe UI", sans-serif;
  backdrop-filter: blur(10px);
}

b {
  color: brown;
  text-decoration: solid;
  text-decoration-line: underline;
  text-decoration-color: #ffffff60;
}

.botao-lembranca {
  background-color: white;
  color: black;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botao-lembranca:hover {
  background-color: #ffb6c1; /* rosinha claro no hover */
  color: white;
  transform: scale(1.05);
}
.adicionar-btn {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  display: block;
}
.botao-lembranca{
  font-size: 15px;
}

.lemb {
  font-size: 11px;
}